@using EstacionaBem.Models
@model PagedList<EstadiaModel>
@{
    ViewData["Title"] = "Estadias";
}

<div class="text-center">
    <div class="container">
        @if (Model != null && Model.Count >= 0)
        {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Placa</th>
                  <th scope="col">Chegada</th>
                  <th scope="col">Saida</th>
                  <th scope="col">Preço</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (var estadia in Model)
                    {
                        <tr>
                          <td>@estadia.placa</td>
                          <td>@estadia.chegada</td>
                          @if (@estadia.saida != DateTime.MinValue) 
                          {
                            <td>@estadia.saida</td>
                          }
                          else
                          {
                              <td></td>
                          }
                          <td>R$ @estadia.preco.ToString("0.00")</td>
                        </tr>
                    }
                    @if (Model.Count < 12)
                    {
                        @for (int i=12;i>Model.Count;i--)
                        {
                            <tr>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            <td>&#xfeff</td>
                            </tr>
                        }
                        
                    }
                </tbody>
            </table>
        }

        @{
             var prevDisabled = !Model.HasPrevious ? "disabled" : "";
             var nextDisabled = !Model.HasNext ? "disabled" : "";
         }

        <a asp-page="/Index"
           asp-route-pageIndex="@(Model.CurrentPage - 1)"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="/Index"
           asp-route-pageIndex="@(Model.CurrentPage + 1)"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Estadias" asp-action="RegistrarEntrada">Registrar Entrada</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Estadias" asp-action="RegistrarSaida">Registrar Saida</a>
    </div>